body {
  font-family: 'Georgia', serif;
  background-color: #dfe1e8;

  opacity: 0;
  transition: opacity 4s;
}

#chart-area {
	transition: opacity 3s;

}

#overall-chart-area {
}

.float-container {
	opacity: 0;
	transition: opacity 3s;
	opacity: 1;
}
.float-child {
	width: 45%;
	float: left;
	padding: 20px;
}


#courtTitle {
	font-size: 22px;
}

#introtext {
	opacity: 0;
	transition: opacity 6s;
	opacity: 1;
}

.introtext {
	opacity: 0;
	transition: opacity 6s;
	opacity: 1;
}

#playerCard {
	text-align: center;
}


#playerSearchButton {
  width: 20%;
  padding: 12px;
  background: #2196F3;
  border: 1px solid grey;
  color: white;
  font-size: 15px;
  border-left: none;

  cursor: pointer;
}
#tooltip {
	position: relative;
	border-radius: 6px;
}


#tooltip #courtTooltipText {
	visibility: hidden;
	background-color: #0756ab;
  /*background-color: #555;*/
	color: #d9d0d1;
	width: 100px;
	border-radius: 6px;

}
#tooltip #courtTooltipText::after {
	content: "";
	border-width: 6px;

}

#tooltip:hover #courtTooltipText{
	visibility: visible;
	opacity: 0.8;
	transition: 0.3;
}


#tooltip #lineTooltipText {
	visibility: hidden;
	background-color: #0756ab;
  /*background-color: #555;*/
	color: #d9d0d1;
	width: 100px;
	border-radius: 6px;

}
#tooltip #lineTooltipText::after {
	content: "";
	border-width: 6px;

}

#tooltip:hover #lineTooltipText{
	visibility: visible;
	opacity: 0.8;
	transition: 0.3;
}

#courtTooltipClearText {
	font-style: italic;
	background-color: black;
	color: white;
	right: 2px;
	border-radius: 20px;
	/*padding: 10px;*/
}

#lineTooltipClearText {
	font-style: italic;
	background-color: black;
	color: white;
	right: 2px;
	border-radius: 20px;
	/*padding: 10px;*/
}

#playerHeading {
	text-align: center;
	font-size: 26px;
}

#tooltip #pieTooltipText {
	visibility: hidden;
	background-color: #0756ab;
  /*background-color: #555;*/
	color: #d9d0d1;
	width: 100px;
	border-radius: 6px;

}
#tooltip #pieTooltipText::after {
	content: "";
	border-width: 6px;

}

#tooltip:hover #pieTooltipText{
	visibility: visible;
	opacity: 0.8;
	transition: 0.3;
}
#pieTooltipClearText {
	font-style: italic;
	background-color: black;
	color: white;
	right: 2px;
	border-radius: 20px;
	/*padding: 10px;*/
}

#playerList {
	padding-inline-start: 0;
	width: 50%;
	border-style: solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 0px;

}

.player {
	list-style-type: none;

    background-color: #eaeaea;
    border-radius: 3px;
    /* padding: 10px 20px; */
    display: grid;
    text-align: center;
}
.player:hover {	
	color: #7084e6;
	opacity: 1;
  }
h1 {
  text-align: center;
}
button {
	font-size: 16px;
	border-style: none;
}
a:link {
  color: white;
}
a:hover {
  color: black;
}
a:visited {
  text-decoration: none;
}
#processlink {
  float: left;
  position: sticky;
  top: 0;
  background-color: lightgrey;
  opacity: 0.7;
  color: white;
  padding: 5px;
  text-align: center;
  border: 1px solid white;
}
#processlink:hover {
  color: black;
  background-color: #7084e6;
  opacity: 1;
}
a:visited {
  color: white;
}

.row {
	display: flex;
	flex-wrap: wrap;
}
.col-4 {
	flex: 0 0 33.3%;
}
.col-8 {
	flex: 0 0 66.7%;
}
.w-100 {
	width: 90%!important;
}


#searchBar {
	font-family: 'Georgia', serif;

    width: 50%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 16px;
}
