body {
	font-family: 'Georgia', serif;
  background-color: #dfe1e8;
}

#chart-area {


}

#playerSearchButton {
  width: 20%;
  padding: 12px;
  background: #2196F3;
	border: 1px solid grey;
  color: white;
  font-size: 15px;
  border-left: none;

  cursor: pointer;
}
#tooltip {
	position: relative;
}


#tooltip #courtTooltipText {
	visibility: hidden;
	background-color: #850c18;
  /*background-color: #555;*/
	color: #d9d0d1;
	width: 100px;
	border-radius: 6px;

}
#tooltip #courtTooltipText::after {
	content: "";
	border-width: 6px;

}

#tooltip:hover #courtTooltipText{
	visibility: visible;
	opacity: 0.8;
	transition: 0.3;
}


#tooltip #lineTooltipText {
	visibility: hidden;
	background-color: #850c18;
  /*background-color: #555;*/
	color: #d9d0d1;
	width: 100px;
	border-radius: 6px;

}
#tooltip #lineTooltipText::after {
	content: "";
	border-width: 6px;

}

#tooltip:hover #lineTooltipText{
	visibility: visible;
	opacity: 0.8;
	transition: 0.3;
}

#playerHeading {
	margin-left: 300px;
	font-size: 18px;
}
